<h3>Поздравляем {{ first_name }}</h3>
<p>Вы успешно прошли регистрацию на сайте «{{ site_name }}»</p>
<h4>Для доступа в личный кабинет используйте: .</h4>
<p>Логин: {{ login }}</p>
<p>Пароль: {{ password }}</p>
<h4>Если это были не Вы, сообщите администратору сайта: {{ admin_email }}</h4>