<h3>Вітаємо {{ first_name }}</h3>
<p>Ви успішно пройшли реєстрацію на сайті «{{ site_name }}»</p>
<h4>Для доступу в особистий кабінет використовуйте: .</h4>
<p>Логін: {{ login }}</p>
<p>Пароль: {{ password }}</p>
<h4>Якщо це були не Ви, повідомте адміністратору сайту: {{ admin_email }}</h4>