<h3>Вітаємо {{ first_name }}</h3>
<p>Ви успішно зареєсструвалися на сайті «{{ site_name }}»</p>
<h4>Особистий кабінет знаходиться за адресою:</h4>
<p><a href="{{ cabinet_url }}">{{ cabinet_url }}</a></p>
<p>Для входу використовуйте E-mail та пароль з якими Ви проходили реєстрацію</p>
<p>Якщо Ви не реєструвалися на сайті «{{ site_name }}», то просто проігноруйте цей лист.</p>