<h3>Вітаємо {{ first_name ?: email }}</h3>
<p>На сайті «{{ site_name }}» було виконано скидання пароля.</p>
<p>Ваш e-mail: {{ email }}</p>
<p>Ваш новий пароль: {{ password }}</p>
<p>Якщо це були не ви, будь ласка, зв'яжіться з адміністратором сайту: {{ admin_email }}</p>
