<h3>Congratulations {{ first_name }}</h3>
<p>You have successfully registered on the site «{{ site_name }}»</p>
<h4>To access your personal account, use:</h4>
<p>Login: {{ login }}</p>
<p>Password: {{ password }}</p>
<h4>If it wasn’t you, tell the site administrator: {{ admin_email }}</h4>